{{define "block"}}
  <div class="block">
    <ul style="padding-right: 1em;">
      <li>Hash: {{.Hash}}</li>
      {{if .PrevHash}}
      <li>PrevHash: {{.PrevHash}}</li>
      {{end}}
      <li>Height: {{.Height}}</li>
      <li>Difficulty: {{.Difficulty}}</li>
      <li>Nonce: {{.Nonce}}</li>
      <li>Timestamp: {{.Timestamp}}</li>
      <li>Transactions: {{.Transactions}}</li>
    </ul>
  </div>
{{end}}